.Side {
  position: fixed;
  width: 240px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgb(29, 35, 39);
}

.Main {
  height: 100vh;
  margin-inline-start: 240px;
}

.Note-title {
  padding: 16px;
}
